snippet tz "发送通知文件"
领导您好！${2:短信内容} 市政府总值班室已将${4:作出批示的领导}批示发送至县市区(园区)和${5:市直部门}等相关单位，要求立即报告单位主要负责人，并认真抓好贯彻落实。特此报告。谢谢！发送单位：湘潭市人民政府总值班室（值班员：${6:值班员}）
${0}
endsnippet


snippet  lly "联络员名单"
发石亮、黄敦利、蒋砺、李文、刘佳武、朱灿新、赵辉、卢敬凤、胡斯纯、${1}
${0}
endsnippet

snippet ld  "领导名单"
发吴志雄、周晖、董巍、傅军、丁诚、杨晓军、周艳希、吴劲松、陈爱民、${1}
发蒋文龙、董湘瑞、刘科、章礼华、黄勇、刘光明、朱可少${2}
${0}
endsnippet
