snippet tz "发送通知文件"
领导您好！${2:短信内容} 市政府总值班室已将${4:作出批示的领导}批示发送至县市区(园区)和${5:市直部门}等相关单位，要求立即报告单位主要负责人，并认真抓好贯彻落实。特此报告。谢谢！发送单位：值班员：${6:值班员}）
${0}
endsnippet


snippet  lly "联络员名单"
发${1}
${0}
endsnippet

snippet ld  "领导名单"
发${1}
发${2}
${0}
endsnippet

snippet muban  "插入名单模板"
snippet ${1:输入值简写} 
${2:姓名和职务}
${0} endsnippet
endsnippet
